Repository piscibus/siklid-api, pull requests merged in 2023-01, with the labels that each got.

#174 [1.x] Decouple action from controller
  src/Foundation/Action/AbstractAction.php
  src/Siklid/Application/Box/CreateBox.php
  src/Siklid/Application/Flashcard/CreateFlashcard.php
  src/Siklid/Repository/BoxRepository.php
  src/Siklid/Security/UserResolver.php
  src/Siklid/Security/UserResolverInterface.php
  tests/Siklid/Security/UserResolverTest.php
Labels: 🧑‍💻 Fix

#115 [1.x] Extract hashtags
  src/Foundation/Util/Hashtag.php
  tests/Feature/Box/CreateBoxTest.php
  tests/Foundation/Util/HashtagTest.php
Labels: 🧑‍💻 Fix, ⚙️ Foundation

#194 Update composer.lock
  composer.lock
Labels: dependencies

#196 [1.x] Access keys without splitting the key
  src/Foundation/Action/Config.php
  tests/Foundation/Action/ConfigTest.php
Labels: 🚀 Feature, ⚙️ Foundation

#203 [1.x] Use php hashtag extractor package
  composer.json
  composer.lock
  src/Foundation/Util/Hashtag.php
  src/Siklid/Application/Box/CreateBox.php
  tests/Foundation/Util/HashtagTest.php
Labels: ⚙️ Foundation

#204 [1.x] Revoke tokens
  src/Foundation/Security/Token/AccessTokenInterface.php
  src/Foundation/Security/Token/RefreshTokenManager.php
  src/Foundation/Security/Token/RefreshTokenManagerInterface.php
  src/Foundation/Security/Token/TokenManager.php
  src/Foundation/Security/Token/TokenManagerInterface.php
  src/Siklid/Document/AccessToken.php
  tests/Foundation/Security/Token/RefreshTokenManagerTest.php
  tests/Foundation/Security/Token/TokenManagerTest.php
Labels: ⚙️ Foundation

#205 [1.x] Add token subscriber
  src/Foundation/Security/Token/TokenSubscriber.php
  tests/Foundation/Security/Token/TokenSubscriberTest.php
Labels: ⚙️ Foundation

#161 [1.x] User logout
  config/packages/cache.yaml
  docs/contributing/development.md
  src/Controller/Auth/LogoutController.php
  src/Foundation/Http/Request.php
  src/Foundation/Security/Token/TokenSubscriber.php
  src/Siklid/Application/Auth/Logout.php
  src/Siklid/Application/Auth/Request/LogoutRequest.php
  tests/Concern/Assertion/AssertResponseTrait.php
  tests/Feature/Auth/LogoutTest.php
  tests/Foundation/Http/RequestTest.php
  tests/Foundation/Security/Token/TokenSubscriberTest.php
  tests/Siklid/Application/Auth/Request/LogoutRequestTest.php
Labels: 🚀 Feature
